<div class="container">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <img src="img/thepirates.png" class="bi me-2" width="40" height="40" alt="">
      <span class="fs-4">The Pirates</span>
    </a>

    <ul class="nav nav-pills ultafera">
      <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="/fourms" class="nav-link">Fourms</a></li>
      <li class="nav-item"><a href="/coming-soon" class="nav-link">Release Date</a></li>
      <li class="nav-item"><a href="/" class="nav-link">Pricing</a></li>
      <li class="nav-item"><a href="/download" class="nav-link">Download</a></li>
    </ul>
  </header>
</div>